<% if (success.length> 0) {%>
    <div class="">Success</div>
    <% } %>
        <% if (error.length> 0) {%>
            <div class="text-red-500 bg-red-600/50 rounded-lg border-2 border-red-500">Wrong Password</div>
            <% } %>