<script type="text/javascript" src="/javascripts/jquery-3.6.1.min.js"></script>
<script type="text/javascript" src="/DataTables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/javascripts/index.js"></script>
<script type="text/javascript" src="/javascripts/navbar.js"></script>
<script type="text/javascript" src="/javascripts/modals.js"></script>

</body>

</html>