<script type="text/javascript" src="/DataTables/jquery.dataTables.js"></script>

<script type="text/javascript" src="/javascripts/util.js"></script>
<script type="text/javascript" src="/javascripts/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script type="text/javascript" src="/javascripts/index.js"></script>
<script type="text/javascript" src="/javascripts/preview.js"></script>
<script type="text/javascript" src="/javascripts/navbar.js"></script>
<script type="text/javascript" src="/javascripts/modals.js"></script>
<script type="text/javascript" src="/javascripts/topnotif.js"></script>

</body>

</html>