<!DOCTYPE html>
<html>

<head>
    <title>
        Point Of Sales
    </title>

    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/output.css' />
    <link rel='stylesheet' href='/fontawesome/css/all.css' />
</head>