<!DOCTYPE html>
<html>

<head>
    <title>
        <%= currentPage %>
    </title>

    <link rel='stylesheet' href='/stylesheets/style2.css' />
    <link rel='stylesheet' href='/stylesheets/navStyle.css' />
    <link rel='stylesheet' href='/stylesheets/output.css' />
    <link rel='stylesheet' href='/fontawesome/css/all.css' />
    <link rel="stylesheet" type="text/css" href="/DataTables/jquery.dataTables.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="shortcut icon" href="/images/icon/logo.png" type="image/x-icon">

    <script type="text/javascript" src="/javascripts/jquery-3.6.1.min.js"></script>

</head>