<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

<div class="flex bg-white py-3 px-5 justify-between items-center static">
    <div class="flex -space-x-3">
        <input type="text" placeholder="Search for..."
            class="bg-transparent px-4 py-1 mx-3 rounded-l-lg w-64 border-black/20 border-2">
        <button type="submit" class="transition bg-blue-500 px-3 rounded-r-lg text-white hover:bg-blue-700"><i
                class="fa-solid fa-magnifying-glass"></i></button>
    </div>

    <div class="flex items-center">
        <div class="flex justify-center border-r-2 px-4">
            <div x-data="{ dropdownOpen: false }" class="relative">
                <button @click="dropdownOpen = !dropdownOpen"
                    class="relative z-10 block rounded-md bg-white p-2 focus:outline-none">
                    <svg class="h-5 w-5 text-gray-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path
                            d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
                    </svg>
                    <div id="badge">

                    </div>
                </button>

                <div x-show="dropdownOpen" @click="dropdownOpen = false" class="fixed inset-0 h-full w-full z-10"></div>

                <div x-show="dropdownOpen"
                    class="absolute right-0 mt-2 bg-white rounded-md shadow-lg overflow-hidden z-20"
                    style="width:25rem;">
                    <div>
                        <p href="#"
                            class="block bg-sky-600 rounded-t-md text-white text-left px-10 font-bold py-2 uppercase">
                            Alerts Center
                        </p>
                        <div id="notif">

                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="dropdown mr-4 px-4">
            <button class="dropbtn py-1">
                <div class="flex items-center">
                    <div class="text-right text-sm px-4">
                        <h1 class="font-semibold">
                            <%= user.name %>
                        </h1>
                        <h1>
                            <%= user.role %>
                        </h1>
                    </div>
                    <div class="bg-gray-300/60 px-2 py-1 rounded-full">
                        <i class="fa-solid fa-user"></i>
                    </div>
                </div>
            </button>
            <div class="dropdown-content rounded-lg right-1">
                <a href="/users/profile" class="hover:rounded-t-lg"><i class="fa-solid fa-user"></i>
                    Profile</a>

                <a href="/users/changepassword" class="whitespace-nowrap"><i class="fa-solid fa-gears"></i>
                    Change Password</a>

                <hr>

                <a id="logout" class="hover:rounded-b-lg p-4" type="button" onclick="toggleModal('modal-id')"><i
                        class="fa-solid fa-right-from-bracket"></i> Logout</a>

                <div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center"
                    id="modal-id">
                    <div class="relative w-auto my-6 mx-auto max-w-3xl">
                        <!--content-->
                        <div
                            class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
                            <!--header-->
                            <div
                                class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
                                <h3 class="text-xl font-semibold text-black">
                                    Do you want to leave?
                                </h3>
                                <button
                                    class="p-1 ml-auto bg-transparent border-0 text-black float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
                                    onclick="toggleModal('modal-id')">
                                    <span
                                        class="bg-transparent text-black h-6 w-6 text-2xl block outline-none focus:outline-none">
                                        ×
                                    </span>
                                </button>
                            </div>
                            <!--body-->
                            <div class="relative p-6 flex-auto">
                                <p class="my-4 text-slate-500 text-lg leading-relaxed">
                                    Select Logout to end your session
                                </p>
                            </div>
                            <!--footer-->
                            <div
                                class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
                                <button
                                    class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                    type="button" onclick="toggleModal('modal-id')">
                                    Close
                                </button>
                                <a href="/logout"
                                    class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                    onclick="toggleModal('modal-id')">
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="modal-id-backdrop"></div>
            </div>
        </div>
    </div>
</div>

<br>

<script>
    $.get({
        url: '/notif/notif'
    }).done((data) => {
        console.log(data)
        let html = ''
        data.forEach(item => {
            html += `
            <div class="flex items-center px-4 py-3 border-b hover:bg-gray-100 -mx-2">
                <div class="bg-amber-400 text-white rounded-full px-2 py-1">
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                </div>
                                <div class="text-sm mx-2">
                                    <p class="text-slate-400">Barcode: ${item.barcode}</p>
                                    <p class="text-gray-600">
                                        <span class="font-bold" href="#">Stock Alert: </span> ${item.name} <span
                                            class="font-bold text-gray-600" href="#">only have stock </span> ${item.stock}
                                    </p>
                                </div>
</div>
            `
        });
        $('#notif').html(html)
    })

    $.get({
        url: '/notif/count'
    }).done((data) => {
        console.log(data)
        let html = `<span class="badge badge-danger badge-counter">${data[0].count}</span>`
        $('#badge').html(html)
    });
</script>