<body>
    <div class="sidebar bg-gradient-to-tr from-blue-800 to-blue-500">
        <div class="logo-details">
            <div class="text-sm -rotate-12">
                <i class="fa-solid fa-face-laugh-squint icon"></i>
            </div>
            <div class="logo_name">Point Of Sale</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <hr>
            <li>
                <a href="/home">
                    <i class="fa-solid fa-house"></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <hr>
            <li>
                <a href="#">
                    <i class="fa-solid fa-wrench"></i>
                    <span class="links_name">Goods Utilities</span>
                </a>
                <span class="tooltip">Goods Utilities</span>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-link"></i>
                    <span class="links_name">Suppliers</span>
                </a>
                <span class="tooltip">Suppliers</span>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-users"></i>
                    <span class="links_name">Customers</span>
                </a>
                <span class="tooltip">Customers</span>
            </li>

            <li>
                <a href="/users">
                    <i class="fa-solid fa-user"></i>
                    <span class="links_name">Users</span>
                </a>
                <span class="tooltip">Users</span>
            </li>
            <hr>
            <li>
                <a href="#">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="links_name">Purchases</span>
                </a>
                <span class="tooltip">Purchases</span>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-chart-area"></i>
                    <span class="links_name">Chart</span>
                </a>
                <span class="tooltip">Chart</span>
            </li>

            <li class="profile">
                <div class="profile-details">
                    <!-- <img src="profile.jpg" alt="profileImg"> -->
                    <div class="name_job">
                        <div class="name">
                            AiceKerime
                        </div>
                        <div class="job">&#169; 2022</div>
                    </div>
                </div>
                <i class="" id="log_out"></i>
            </li>
        </ul>
    </div>