<%- include('../partials/header.ejs') %>
    <%- include('../partials/sidebar.ejs') %>
        <section class="home-section">
            <%- include('../partials/navbar.ejs') %>

                <div class="mx-10">
                    <div class="text-2xl font-semibold">
                        Dashboard
                    </div>
                </div>
        </section>

        <%- include('../partials/footer.ejs') %>