<%- include('partials/header.ejs') %>

    <body class="bg-gradient-to-br from-cyan-500 to-blue-500">
        <div class="my-17 mx-auto">
            <div class="flex bg-white rounded-xl mx-40 py-52 justify-evenly items-center">
                <div class="border-r-2 pr-10">
                    <img class="w-full" src="/images/rubicamp.png" alt="rubicamp">
                </div>

                <div>
                    <h1 class="text-3xl text-center font-bold my-4">Point of Sales</h1>
                    <hr>

                    <div class="w-full">
                        <form action="/" method="post">
                            <div>
                                <input type="email" name="email" placeholder="Email Address"
                                    class="my-4 text-black px-6 py-2 w-full rounded-xl border-black/25 border-2"
                                    required>
                                <br />
                                <input type="password" name="password" placeholder="password"
                                    class="my-4 text-black px-6 py-2 w-full rounded-xl border-black/25 border-2"
                                    required>

                                <h1 class="opacity-60"><input type="checkbox" name="remember" id="remember"> Remember Me
                                </h1>
                            </div>

                            <div class=" my-4">
                                <button type="submit"
                                    class="transition text-center text-white bg-blue-400 hover:bg-blue-600 hover:delay-200 py-2 rounded-full font-semibold w-full">Log
                                    In</button>
                                <!-- <h1 class="my-4">Does'nt have an account? Sign up <a href="/register"
                                        class="transition text-blue-600 hover:text-blue-400">here</a>
                                </h1> -->
                            </div>
                            <%- include('partials/alert.ejs') %>
                                <div class=" text-center">
                                    <a href="#" class="transition text-blue-600 hover:text-blue-400">Forgot
                                        Password?</a>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer.ejs') %>