<%- include('partials/header.ejs') %>

    <body class="bg-gradient-to-br from-cyan-600 to-blue-500 body-login">
        <div class="mt-20 mb-21 mx-56">
            <div class="flex w-auto bg-black rounded-xl mx-auto justify-evenly items-center">
                <div class="px-20">
                    <img class="w-full" src="/images/rubicamp.png" alt="rubicamp">
                </div>

                <div class="bg-white py-52 pl-32 pr-48 rounded-r-xl">
                    <h1 class="text-3xl text-center font-bold my-4">Point of Sales</h1>
                    <hr>
                    <h1 class="text-center font-semibold mt-4">Welcome Back!</h1>

                    <div class="w-full">
                        <form action="/" method="post">
                            <div>
                                <input type="email" name="email" placeholder="Email Address"
                                    class="my-4 text-black px-6 py-2 w-full rounded-xl border-black/25 border-2"
                                    required>
                                <br />
                                <input type="password" name="password" placeholder="password"
                                    class="my-4 text-black px-6 py-2 w-full rounded-xl border-black/25 border-2"
                                    required>
                                <%- include('partials/alert.ejs') %>
                                    <h1 class="opacity-60"><input type="checkbox" name="remember" id="remember">
                                        Remember Me
                                    </h1>
                            </div>

                            <div class=" my-4">
                                <button type="submit"
                                    class="transition text-center text-white bg-blue-400 hover:bg-blue-600 hover:delay-150 py-2 rounded-full font-semibold w-full">Sign
                                    In</button>
                                <!-- <h1 class="my-4">Does'nt have an account? Sign up <a href="/register"
                                        class="transition text-blue-600 hover:text-blue-400">here</a>
                                </h1> -->
                            </div>
                            <div class=" text-center">
                                <a href="#" class="transition text-blue-600 hover:text-blue-400">Forgot
                                    Password?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer.ejs') %>