<%- include('partials/header.ejs') %>

    <body class="bg-gradient-to-br from-cyan-500 to-blue-500">
        <div class="my-16">
            <div class="flex bg-white rounded-xl mx-52 py-40 justify-evenly items-center">
                <div class="border-r-2 pr-10">
                    <img class="w-full" src="/images/rubicamp.png" alt="rubicamp">
                </div>

                <div>
                    <h1 class="text-3xl text-center font-bold my-4">Point of Sales</h1>
                    <hr>

                    <div class="w-96">
                        <form action="" method="post">
                            <div>
                                <input type="text" name="email" placeholder="Email Address"
                                    class="my-4 text-black px-3 py-2 w-full rounded-md" required>

                                <input type="text" name="name" placeholder="Name"
                                    class="my-4 text-black px-3 py-2 w-full rounded-md" required>

                                <input type="password" name="password" placeholder="password"
                                    class="my-4 text-black px-3 py-2 w-full rounded-md" required>

                                <select name="role" class="my-4 text-black px-3 py-2 w-full rounded-md" required>
                                    <option value="" disabled selected>-- Role --</option>
                                    <option value=Operator>Operator</option>
                                    <option value=Admin>Admin</option>
                                </select>
                            </div>

                            <div class=" my-4">
                                <button type="submit"
                                    class="transition text-center text-white bg-blue-400 hover:bg-blue-600 hover:delay-200 px-10 py-2 rounded-lg font-semibold">Sign
                                    Up</button>
                            </div>

                        </form>
                        <h1>Have an account? Sign in <a href="/" class="text-blue-600">here</a></h1>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer.ejs') %>