<%- include('../partials/header.ejs') %>
    <%- include('../partials/sidebar.ejs') %>
        <section class="home-section">
            <%- include('../partials/navbar.ejs') %>

                <div class="mx-10">
                    <div class="text">
                        <h1 class="mx-6">Suppliers</h1>
                    </div>

                    <div class="overflow-x-auto relative mx-10 my-0.5 space-y-6 bg-white rounded-lg drop-shadow-md">
                        <div class="bg-slate-400/10 px-10 py-4 border-b-2 border-black/10">
                            <h1 class="text-blue-500 font-bold text-lg">Form Add</h1>
                        </div>

                        <div>
                            <form action="" method="post">
                                <div>
                                    <div class="flex space-x-24 px-10 items-center">
                                        <label for="name" class="text-lg font-semibold">Name</label>
                                        <input type="text" name="name" placeholder="Suppliers Name"
                                            class="my-4 text-black px-6 py-2 w-full rounded-xl border-black/25 border-2"
                                            required>
                                        <br />
                                    </div>

                                    <div class="flex space-x-16 px-10 items-center">
                                        <label for="address" class="text-lg font-semibold">Address</label>
                                        <textarea type="text" name="address" placeholder="Suppliers Address"
                                            class="my-4 text-black px-6 py-2 w-full rounded-xl border-black/25 border-2"
                                            required></textarea>
                                        <br />
                                    </div>

                                    <div class="flex space-x-21 px-10 items-center">
                                        <label for="phone" class="text-lg font-semibold">Phone</label>
                                        <input type="text" name="phone" placeholder="Suppliers Phone"
                                            class="my-4 text-black px-6 py-2 w-full rounded-xl border-black/25 border-2"
                                            required>
                                    </div>
                                </div>

                                <div class="flex px-10 space-x-4 my-4 border-t-2 py-4">
                                    <div>
                                        <button type="submit"
                                            class="flex transition text-center text-white bg-green-500 hover:bg-green-600 hover:delay-200 rounded-lg font-semibold items-center space-x-2">
                                            <div class="px-3 py-2 rounded-l-lg bg-green-600">
                                                <i class="fa-solid fa-database"></i>
                                            </div>
                                            <p class="pr-3">Save</p>
                                        </button>
                                    </div>
                                    <div>
                                        <a href="/suppliers"
                                            class="flex transition text-center text-white bg-yellow-400 hover:bg-yellow-500 hover:delay-200 rounded-lg font-semibold items-center space-x-2">
                                            <div class="px-3 py-2 rounded-l-lg bg-yellow-500">
                                                <i class="fa-solid fa-rotate-left"></i>
                                            </div>
                                            <p class="pr-3">Back</p>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
        </section>

        <%- include('../partials/footer.ejs') %>