<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/sidebar.ejs') %>
        <section class="home-section">
            <%- include('../../partials/navbar.ejs') %>

                <div class="mx-10">
                    <div class="text">
                        <h1>Goods</h1>

                        <p class="text-sm opacity-50">This is data of goods</p>
                    </div>

                </div>

                <div class="overflow-x-auto relative mx-10 my-4 space-y-6 bg-white rounded-lg drop-shadow-md">
                    <div class="bg-slate-400/10 px-6 py-4 border-b-2 border-black/10">
                        <a href="/goods/add"
                            class="flex transition bg-blue-500 hover:bg-blue-600 w-24 text-white pr-3 rounded-md items-center font-semibold space-x-2">
                            <div class="bg-blue-600 py-2 px-3 rounded-l-md">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            <p>Add</p>
                        </a>
                    </div>

                    <div class="overflow-x-auto relative px-4 pt-2 pb-6 rounded-md">
                        <div class="px-4 -py-2">
                            <table id="goods-table" class="w-full table-users">
                                <thead class="bg-transparent shadow-md">
                                    <tr class="text-left text-black">
                                        <th>Barcode</th>
                                        <th>Name</th>
                                        <th>Stock</th>
                                        <th>Purchase Price</th>
                                        <th>Selling Price</th>
                                        <th>Unit</th>
                                        <th>Picture</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr class="text-left text-black">
                                        <td>Barcode</td>
                                        <td>Name</td>
                                        <td>Stock</td>
                                        <td>Purchase Price</td>
                                        <td>Selling Price</td>
                                        <td>Unit</td>
                                        <td>Picture</td>
                                        <td>Actions</td>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="flex justify-between mt-8 items-center">
                                <div class="text-gray-500">
                                    <!-- <h1>Showing <%#= page %> to <%#= pages %> of <%#= pages %> entries</h1> -->
                                </div>
                                <!-- <div id="pagination">
                                    <nav aria-label="Page navigation example">
                                        <ul class="inline-flex -space-x-px">
                                            <li>
                                                <%##if (page !=1 ) { %>
                                                    <a href="<%#=url.replace(`page=${page}`,`page=${parseInt(page)-1}`)%>"
                                                        class="py-1 px-3 ml-0 leading-tight text-gray-500 bg-white
                                                        rounded-l-lg border border-gray-300 hover:bg-gray-100
                                                        hover:text-gray-700">Previous</a>
                                                    <%# } %>

                                            </li>
                                            <%# for( let i=1; i <=pages; i++ ) { %>
                                                <li class="<%#= i == page ? 'active' : '' %> ">
                                                    <a href="<%#=url.replace(`page=${page}`,`page=${i}`)%>"
                                                        class="py-1 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
                                                        <%#= i %>
                                                    </a>
                                                </li>
                                                <%# } %>
                                                    <li>
                                                        <%#if (page <=pages && page !=pages ) { %>
                                                            <a href="<%#=url.replace(`page=${page}`,`page=${parseInt(page)+1}`)%>"
                                                                class="py-1 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700">Next</a>
                                                            <%# } %>
                                                    </li>
                                        </ul>
                                    </nav>
                                </div> -->
                            </div>
                        </div>
                    </div>
        </section>
        </div>
        <%- include('../../partials/footer.ejs') %>