<%- include('../partials/header.ejs') %>
    <%- include('../partials/sidebar.ejs') %>
        <section class="home-section">
            <%- include('../partials/navbar.ejs') %>

                <div class="text">Dashboard</div>
        </section>

        <%- include('../partials/footer.ejs') %>