<%- include('../partials/header.ejs') %>
    <%- include('../partials/sidebar.ejs') %>
        <section class="home-section">
            <%- include('../partials/navbar.ejs') %>


                <div class="text">
                    <h1>Users</h1>

                    <p class="text-sm opacity-50">This is data of Users</p>
                </div>
        </section>

        <%- include('../partials/footer.ejs') %>